html {
  font-size: $font-size;
  font-family: $font-family;
  background: $red;
  color: $blue;
  line-height: 1.4;
}

body {
  margin: 0;
  overflow: hidden;
}

canvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
}

.container{
  padding: 2rem 1.5rem;
  text-align: center;
}

.button{
  text-decoration: none;
  background: $yellow;
  padding: 1rem 2rem;
  border: none;
  border-radius: 30px;
  color: $blue;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 0 8px 6px -6px rgba(0,0,0, .35);
}


.sounds{
  display: none;
}

.footer{
  position: fixed;
  bottom: 2rem;
  left: 0;
  width: 100vw;
}